body{
    background-color: #111b21;
}
.login{
    height: 20%;
    width: 20%;
    position: fixed;
    top: 40%;
    left: 40%;
    
}
.MainPage{
    display: grid;
    grid-template-columns: 300px 1fr;                    
    position: fixed;
    left: 5%;
    top: 5%;
    width: 90%;
    height: 90%;
    background-color: #222E35;
}
.SideBar{
    display: grid;
    grid-template-rows: 10% 3% auto;
    height: 100%;
}
.UserPanel{
    background-color: #202c33;
    display: flex;
}
img{
    border-radius: 50%;
}

.FriendsBar{
    background-color: rgb(40, 48, 56);
    
}

.ChatPanel{
    background-color: #222E35;
    display: grid;
    grid-template-rows: 95% auto;
}
.imageMessage{
    max-width: 200px;
    max-height: 200px;
    border-radius: 10%;
}
.MessageBar{
    display: grid;
    grid-template-columns: 80% 10% 10%;
    width: 100%;
    height: 100%;
    background-color: #202c33;
}
.RightBubble{
    width: 100%;
    min-height: 5%;
    display: flex;
    justify-content: flex-end;
}
.LeftBubble{
    width: 100%;
    display: flex;
}
.FriendDiv{
    height: 7%;
}
.FriendButton{
    width: 100%;
    height: 100%;
    background-color: rgb(40, 48, 56);
    border-style: outset;
    color:rgba(233, 216, 216, 0.781);
}
p{
    color:rgba(233, 216, 216, 0.781);
    font-size: 17px;
}
.dFile{
    font-size: 17px;
    color: rgba(233, 216, 216, 0.781);
}
.AddFriend{
    background-color: #202c33;
    color: #86a3b3;
}
.Popup{
    position: absolute;
    z-index: 9;
    top:20%;
    left:40%;
    width: 30%;
    background-color: #4c7f9b;
}