.login{
    height: 100px;
    width: 200px;
    position: absolute;
    top: 35%;
    left: 35%;
    
}
.MainPage{
    display: grid;
    grid-template-columns: 300px 1fr;                    
    position: fixed;
    margin: 2%;
    width: 90%;
    height: 90%;
    background-color: rgb(30, 165, 30);
}
.SideBar{
    display: grid;
    grid-template-rows: 10% auto;
    height: 100%;
}
.UserPanel{
    background-color: rgb(69, 77, 87);
}

.FriendsBar{
    background-color: rgb(40, 48, 56);
    
}

.ChatPanel{
    background-color: rgb(80, 88, 129);
    display: grid;
    grid-template-rows: 95% auto;
}
.imageMessage{
    max-width: 200px;
    max-height: 200px;
}
.MessageBar{
    display: grid;
    grid-template-columns: 80% 10% 10%;
    width: 100%;
    height: 100%;
}
.Bubble{
    width: 100%;
}